<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questType</key>
	<array>
		<string>    聆听这段音乐，选择正确的和弦走向：</string>
		<string>    聆听这段由%chord和弦开始的音乐，其中第2小节的和弦是？</string>
	</array>
	<key>chords_1</key>
	<array>
		<dict>
			<key>name</key>
			<string>C_G_C_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_F_C_F_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Am_C_Am_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Dm_C_Dm_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Em_C_Em_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>1</string>
		</dict>
	</array>
	<key>chords_2</key>
	<array>
		<dict>
			<key>name</key>
			<string>Am_G_Am_G_Am</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Am_F_Am_F_Am</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Am_C_Am_C_Am</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Am_Em_Am_Em_Am</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Am_Dm_Am_Dm_Am</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>2</string>
		</dict>
	</array>
	<key>chords_3</key>
	<array>
		<dict>
			<key>name</key>
			<string>C_F_C_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_C_F_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_F_G_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_F_F_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_F_G_F_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_G_G_F_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
	</array>
	<key>chords_4</key>
	<array>
		<dict>
			<key>name</key>
			<string>C_Am_F_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Em_Dm_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Dm_F_C_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_F_Em_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Am_Em_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Am_Em_F_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Am_Dm_F_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
	</array>
	<key>chord_c</key>
	<array>
		<string>C</string>
		<string>F</string>
		<string>G</string>
		<string>Am</string>
		<string>Em</string>
		<string>Dm</string>
	</array>
</dict>
</plist>
