<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questCategorys</key>
	<array>
		<string>CATE_CHORDS_PROGRESSION</string>
		<string>CATE_MISSING_CHORD</string>
	</array>
	<key>allChords</key>
	<dict>
		<key>B</key>
		<array>
			<string>B</string>
			<string>Bm</string>
			<string>B7</string>
		</array>
		<key>Bb</key>
		<array>
			<string>Bb</string>
			<string>Bbm</string>
			<string>Bb7</string>
		</array>
		<key>A</key>
		<array>
			<string>A</string>
			<string>Am</string>
			<string>A7</string>
		</array>
		<key>Ab</key>
		<array>
			<string>Ab</string>
			<string>Abm</string>
			<string>Ab7</string>
		</array>
		<key>G</key>
		<array>
			<string>G</string>
			<string>Gm</string>
			<string>G7</string>
		</array>
		<key>F#</key>
		<array>
			<string>F#</string>
			<string>F#m</string>
			<string>F#7</string>
		</array>
		<key>F</key>
		<array>
			<string>F</string>
			<string>Fm</string>
			<string>F7</string>
		</array>
		<key>E</key>
		<array>
			<string>E</string>
			<string>Em</string>
			<string>E7</string>
		</array>
		<key>Eb</key>
		<array>
			<string>Eb</string>
			<string>Ebm</string>
			<string>Eb7</string>
		</array>
		<key>D</key>
		<array>
			<string>D</string>
			<string>Dm</string>
			<string>D7</string>
		</array>
		<key>C#</key>
		<array>
			<string>C#</string>
			<string>C#m</string>
			<string>C#7</string>
		</array>
		<key>C</key>
		<array>
			<string>C</string>
			<string>Cm</string>
			<string>C7</string>
		</array>
	</dict>
	<key>chordDic</key>
	<dict>
		<key>C</key>
		<string>C</string>
		<key>D</key>
		<string>D</string>
		<key>E</key>
		<string>E</string>
		<key>F</key>
		<string>F</string>
		<key>G</key>
		<string>G</string>
		<key>Am</key>
		<string>Am</string>
		<key>Em</key>
		<string>Em</string>
		<key>Dm</key>
		<string>Dm</string>
		<key>G7</key>
		<string>G7</string>
	</dict>
	<key>questCatesText</key>
	<array>
		<string>QUEST_CHORDS_PROGRESSION</string>
		<string>QUEST_MISSING_CHORD</string>
	</array>
	<key>chords_1</key>
	<array>
		<dict>
			<key>name</key>
			<string>C_G_C_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_F_C_F_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Am_C_Am_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Dm_C_Dm_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Em_C_Em_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>1</string>
		</dict>
	</array>
	<key>chords_2</key>
	<array>
		<dict>
			<key>name</key>
			<string>Am_G_Am_G_Am</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Am_F_Am_F_Am</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Am_C_Am_C_Am</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Am_Em_Am_Em_Am</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Am_Dm_Am_Dm_Am</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>2</string>
		</dict>
	</array>
	<key>chords_3</key>
	<array>
		<dict>
			<key>name</key>
			<string>C_F_C_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_C_F_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_F_G_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_F_F_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_F_G_F_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_G_G_F_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>3</string>
		</dict>
	</array>
	<key>chords_4</key>
	<array>
		<dict>
			<key>name</key>
			<string>C_Am_F_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Em_Dm_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Dm_F_C_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_F_Em_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Am_Em_G_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Am_Em_F_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C_Am_Dm_F_C</string>
			<key>count</key>
			<string>5</string>
			<key>level</key>
			<string>4</string>
		</dict>
	</array>
	<key>chord_c</key>
	<array>
		<string>C</string>
		<string>F</string>
		<string>G</string>
		<string>Am</string>
		<string>Em</string>
		<string>Dm</string>
	</array>
</dict>
</plist>
